################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/admin.weishang.rponey.cc/bin
/Code/admin.weishang.rponey.cc/obj/Debug
/Code/packages
/Code/weishang.rponey.cc/bin
/Code/weishang.rponey.cc/obj/Debug
/Code/weishang.rponey.cc.Bll/bin/Debug
/Code/weishang.rponey.cc.Bll/obj/Debug
/Code/weishang.rponey.cc.Dal/bin/Debug
/Code/weishang.rponey.cc.Dal/obj/Debug
/Code/weishang.rponey.cc.Model/bin/Debug
/Code/weishang.rponey.cc.Model/obj/Debug
