/weishang.rponey.cc/bin
/weishang.rponey.cc/obj
/admin.weishang.rponey.cc/obj
/admin.weishang.rponey.cc/bin
/packages
/packages/Microsoft.AspNet.Razor.3.2.3
/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.3
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.3
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/packages/Microsoft.Net.Compilers.1.0.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.3
/weishang.rponey.cc.Bll/obj/Debug
/weishang.rponey.cc.Bll/bin/Debug
/weishang.rponey.cc.Dal/obj/Debug
/weishang.rponey.cc.Dal/bin/Debug
/weishang.rponey.cc.Model/obj/Debug
/weishang.rponey.cc.Model/bin/Debug
